.Goback{
  display: flex;
  justify-content: flex-start;
}
.App{
  display: flex;
  justify-content : center;
  width: 100%;
  background-color: grey;
  min-height: 100vh;
}
.page{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  text-decoration: none;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 10px;
}
.buttons {
  display : flex;
  justify-content : space-evenly;
  width: 300px;
}
form {
  margin-top: 50px;
}
.homeimage {
  width: 60%;
  margin-top: 50px;
  max-width: 900px;
}
table{
  width: 100%;
}
.th{
  padding: 5px 10px;
}
.row td {
  text-align: center;
}